header{
  height: 95vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../public/images/header_bg.jpg');
  background-position: top center;
  position: relative;
}
nav{
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive($breakpoint-medium){
    width: 95%;
  }
  h1{
    font-size: $font-size-large;
    color: $primary-color;
  }
  div{
    position: relative;
    span{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    select{
      padding: 0.5rem 1rem;
      margin-right: 10px;
      background-color: transparent;
      color: $text-color;
      padding-left: 30px;
      option{
        background-color: #fff;
        color: #222;
      }
    }
    button{
      @include button-style;
    }
  }
}
.header-contents{
  text-align: center;
  margin-top: 200px;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%,-50%);
  h2{
    font-size: 60px;
    margin-bottom: 20px;
    @include responsive($breakpoint-medium){
      font-size: 40px;
    }
  }
  h4{
    font-size: $font-size-medium;
    margin-bottom: 20px;
  }
  p{
    font-size: $font-size-medium;
  }
}