.membership{
  @include component_size;
  text-align: center;
}
.email-box{
  font-size: $font-size-medium;
  box-sizing: border-box;
  label{
    position: relative;
    span{
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      transition: 0.3s;
      color: #ddd;
    }
    input{
      padding: 15px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      position: relative;
      width: 400px;
      margin: 20px 0;
      border-radius: 5px;
      // padding-top: 25px;
      font-size: $font-size-medium;
          @include responsive($breakpoint-small){
      width: 100%;
    }
    }
    &.focused{
      span{
        top: 0;
        font-size: 10px;
      }
    }
  }
  button{
    @include button-style;
    padding: 15px;
    margin: 10px;
    // transform: translateY(-3px);
  }
}