.membership{
  @include component_size;
  text-align: center;
}
.email-box{
  width: 500px;
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive($breakpoint-small){
    width: 100%;
  }
  label{
    position: absolute;
    color: #aaa;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  &.focused{
    label{
      top: 15px;
      font-size: 10px;
    }
  }
  input{
    flex: 1;
    width: 300px;
    // padding: 0.5rem 1rem;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: $font-size-medium;
    margin-right: 10px;
    background-color: transparent;
    color: $text-color;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    // @include responsive($breakpoint-small){
    //   width: 100%;
    // }
    z-index: 10;
  }
  button{
    font-size: $font-size-medium;
    @include button-style;
    padding: 11px;
  }
}