.move-slider{
  @include component_size;
  position: relative;
  h2{
    margin-bottom: 20px;
  }
  //기본 화살표에 가상 요소 삭제
  .slick_prev:before,
  .slick_next:before{
    content: '';
  }
  .slick_prev,
  .slick_next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 130px;
    text-align: center;
    line-height: 130px;
    border-radius: 10px;
    z-index: 10;
    font-size: 30px;
    background-color: #222;
    cursor: pointer;
    &:hover{
      background-color: #444;
    }
  }
  .slick_prev{
    left: -30px;
  }
  .slick_next{
    right: -30px;
  }
}
.slick-slider img{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.movie-card{
  position: relative;
  padding: 10px 0;
  transition: 0.3s;
  &:hover{
    transform: scale(1.05);
  }
  span{
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 80px;
    color: #000;
    font-weight: bolder;
    -webkit-text-stroke: 2px #fff;
    text-shadow: -2px -2px 0 #ffffff4f, 2px -2px 0 #ffffff4f, -2px 2px 0 #ffffff4f, 5px 10px 10px #0000004f;
  }
}